.cartList {
    display: block;
    width: 600px;
    margin-top: -18px;

    ul {
        margin-bottom: 15px;
    }

    h5,
    h4 {
        margin: 0;
    }

    &__buttons-block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 130px;
    }
}

@media screen and (max-width: 1100px) {
    .cartList {
        width: 100%;
        margin: 0 auto;
    }
}