.App {
  padding: 50px 0 50px 0;

  &__content {
    margin: 0 auto;
    padding-top: 50px;
    width: 1100px;
  }
}

@media screen and (max-width: 1100px) {
  .App {
    &__content {
      padding-top: 50px;
      width: 100%;
    }
  }
}