.products {
    width: 800px;
    margin-top: -11px;

    h2 {
        margin: 0;
    }

    ul {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .products {
        width: 240px;

        h2 {
            display: none;
        }
    }
}
